
body {
  font-size: 1.5em;
}

a:link {
	text-decoration: none;
}
a {
	color:black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  vertical-align: ;
  padding: 5px;
}

th {
  background-color: #4CAF50;
  color: white;
}
	
tr:nth-child(even) {
	background-color: #f2f2f2;
}

.shownCount {
	margin-top: 35px;
	margin-bottom: 35px;
}
